.project-container{
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0;

  @media (min-width: 850px) {
    max-width: 1200px;
    margin: auto;
  }
}

.project {
  padding: 2.5rem 0 2.5rem;

  @media (min-width: 850px) {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  &-text {
    @media (min-width: 850px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: 5/11;
      grid-row: 1/2;
      order: 2;
      text-align: right;
    }
  }

  &__header{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    text-decoration: underline;
  }

  &__where {
    letter-spacing: 1px;
    margin: 0;

    @media (min-width: 850px){
      font-size: 2rem;
    }
  }

  &__title{
    margin: .5rem 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;
    color: #86fbfb;

    @media (min-width: 850px){
      font-size: 2rem;
    }
  }

  &__description{
    background-color: #171321;
    padding: 1rem;
    border-radius: 1rem;

    &__content{
      font-family: 'Oxygen', sans-serif;
      line-height: 1.5;

      &__link{
        color: #ff17e4;

        &:hover{
          color: #f848e3;
        }
      }
    }
  }

  &__tech{
    &__title{
      text-decoration: underline;

      @media (min-width: 850px){
        font-size: 1.5rem;
      }
    }

    &__item{
      @media (min-width: 850px){
        font-size: 1.5rem;
      }
    }

    &__list{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0;
      list-style-type: none;

      @media (min-width: 850px) {
        justify-content: flex-end;
      }
    }
  }

  &__imgcontainer{
    background-color: #171321;
    padding: 1rem;
    border-left: 2px solid #86fbfb;
    border-top: 2px solid #86fbfb;
    border-radius: 1rem;

    @media (min-width: 850px) {
      grid-column: 1/6;
      grid-row: 1/2;
    }

    &__image{
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }
}